:root {
    font-family: 'Hanken Grotesk', sans-serif;;
    font-size: 1.1225rem;
    padding: 0;
}

* {
    margin: 0;
}

.overview {
    color: hsl(0, 0%, 100%);
    background-image: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
    border-radius: 0.75em;
    margin-top: -0.5em;
}